import "./pending-resume-application.scss";
import {
  dispatchLoader,
  lovRequests,
  resumeRequest,
  uploadRequest,
} from "../../../services/common-service";
import { useDispatch, useSelector } from "react-redux";
import { useEffect, useState } from "react";
import Header from "../../dashboard/header/header";
import LeftSideBar from "../../dashboard/left-sidebar/left-sidebar";
import { KeyWithAnyModel, StoreModel } from "../../../utils/model/common-model";
import { useNavigate } from "react-router";
import { urlParamAction } from "../../../utils/store/urlparam-slice";
import { stagesAction } from "../../../utils/store/stages-slice";
import { bancaListAction } from "../../../utils/store/banca-slice";
import { taxAction } from "../../../utils/store/tax-slice";
import { authAction } from "../../../utils/store/auth-slice";
import { referralcodeAction } from "../../../utils/store/referral-code-slice";

const PendingApplication = () => {
  const navigate = useNavigate();
  const dispatch = useDispatch();
  const [emptyApplication, setEmptyApplication] = useState(false);
  const pendingApplicationSelector = useSelector(
    (state: StoreModel) => state.pendingApplication
  );
  const [pendingApplicationsFormatted, setPendingApplicationsFormatted] =
    useState<any>([]);

  useEffect(() => {
    dispatch(dispatchLoader(false));
    if (
      pendingApplicationSelector &&
      pendingApplicationSelector.pendingApplication &&
      pendingApplicationSelector.pendingApplication.length > 0
    ) {
      let pendingApplicationNumbers: any = {
        pendingApplication: [],
        pendingDocument: [],
        unresumableApplications: [],
      };
      for (
        var i = 0;
        pendingApplicationSelector.pendingApplication.length > i;
        i++
      ) {
        if (
          pendingApplicationSelector.pendingApplication[i].Status ===
          "PendingDocuments"
        ) {
          pendingApplicationNumbers.pendingDocument.push(
            getApplicantDetails(
              pendingApplicationSelector.pendingApplication[i]
            )
        );
      } else if (
        pendingApplicationSelector.pendingApplication[i].Status === "WIP" &&
        pendingApplicationSelector.pendingApplication[i].OnbSaveFlag === "Y"
      ) {
        pendingApplicationNumbers.pendingApplication.push(
          getApplicantDetails(
            pendingApplicationSelector.pendingApplication[i]
          )
        );
      } else {
        pendingApplicationNumbers.unresumableApplications.push(
          getApplicantDetails(
            pendingApplicationSelector.pendingApplication[i]
          )
        );
    }
    }

      setEmptyApplication(false);
      setPendingApplicationsFormatted(pendingApplicationNumbers);
    } else {
      setEmptyApplication(true);
      setPendingApplicationsFormatted([]);
    }

    // eslint-disable-next-line react-hooks/exhaustive-deps
  }, []);

  const getApplicantDetails = (pendingList: KeyWithAnyModel) => {
    return {
      ProductName: pendingList.ProductName,
      ApplicationRefNo: pendingList.ApplicationRefNo,
      ChannelRef: pendingList.ChannelRefNo,
      ExpiryDate: caculateExpiry(pendingList.ExpiryDate),
      OnbSaveFlag: pendingList.OnbSaveFlag,
      ApplicationStatus: pendingList.ApplicationStatus,
    };
  };
  const openApplication = (appRefId: string, chnRefNo: string) => {
    if (chnRefNo.substring(0, 3) === "02r") {
      dispatch(dispatchLoader(true));
      const refNo = appRefId;
      dispatch(urlParamAction.getAuthorize({ applicationRefNo: refNo }));
      dispatch(resumeRequest(refNo)).then(async (response: any) => {
        if (response) {
          if (response.application && response.application.journey_type) {
            dispatch(
              stagesAction.setJourneyType(response.application.journey_type)
            );
          }
          const stageTo = response.application.stage.page_id;
          if (
            response.applicant_documents &&
            response.applicant_documents[0] &&
            response.applicant_documents[0].document_list &&
            response.applicant_documents[0].document_list.length <= 0
          ) {
            delete response.applicant_documents;
          }
          dispatch(
            stagesAction.getStage({
              id: stageTo,
              formConfig: response,
            })
          );
          dispatch(referralcodeAction.setReferralId(response.application.referral_id_2));
          dispatch(stagesAction.updateTaxFields(response.applicants));
          dispatch(bancaListAction.getBancaData(response.applicants));
          dispatch(stagesAction.updateUserInputFields(response.applicants));
          dispatch(taxAction.updateTax(response.applicants));
          dispatch(lovRequests(response, stageTo));
          dispatch(stagesAction.resetCurrentStage(stageTo));
          dispatch(stagesAction.setOtpResume(true));
          navigate("/sg/super-short-form");
        }
      });
    } else {
      var currentEnvPath = "rtob-FFF/www";
      var formsURLs =
        window.origin +
        "/onboarding/" +
        currentEnvPath +
        "/rtoForms/index.html?";
      //window.sessionStorage.setItem("session_id", $rootScope.sessionUID);
      window.sessionStorage.setItem("ref", appRefId);
      window.location.href = `${formsURLs}/resumeOtp?country=SG`;
    }
  };

  const openUploadDocument = (appRefId: string,productName : string) => {
    dispatch(dispatchLoader(true));
    dispatch(urlParamAction.isUpload(true));
    dispatch(urlParamAction.getAuthorize({ applicationRefNo: appRefId }));
    dispatch(uploadRequest(appRefId)).then(async (response: any) => {
      if (response) {
        dispatch(stagesAction.setIsDocumentUpload(true));
        if (
          response.applicant_documents &&
          response.applicant_documents[0] &&
          response.applicant_documents[0].document_list &&
          response.applicant_documents[0].document_list.length <= 0
        ) {
          delete response.applicant_documents;
        }
        response.products = [];
        response.products.push({'name':productName})
        dispatch(
          stagesAction.getStage({
            id: "doc",
            formConfig: response,
          })
        );
        
        dispatch(stagesAction.resetCurrentStage("doc"));
        dispatch(stagesAction.updateUserInputFields(response.applicants));
        dispatch(lovRequests(response, 'doc'));
        dispatch(stagesAction.resetCurrentStage('doc'));
        dispatch(stagesAction.setOtpResume(true));
        navigate("/sg/super-short-form");
      }
    });
};

  const caculateExpiry = (expiryDate: any) => {
    let appExpryDate = expiryDate;
    // let sgdTime = calcTime('+8');

    let date = new Date();
    let currentDateFormat = `${date.getFullYear()}-${(
      "0" +
      (date.getMonth() + 1)
    ).slice(-2)}-${("0" + date.getDate()).slice(-2)}T${(
      "0" + date.getHours()
    ).slice(-2)}:${("0" + date.getMinutes()).slice(-2)}:${(
      "0" + date.getSeconds()
    ).slice(-2)}`;
    let appExpryDateFormat = formatDate(appExpryDate);
    let diff = +new Date(appExpryDateFormat) - +new Date(currentDateFormat);
    let expireCount = Math.trunc(diff / (1000 * 3600 * 24));
    let current_date = new Date(currentDateFormat);
    console.log("Current date: ", current_date, currentDateFormat);

    const newDate = current_date.setDate(current_date.getDate() + expireCount);
    let expirydate = new Date(newDate);
    // return expireCount.toString();
    return expirydate.toString().substring(4, 15);
  };
  const formatDate = (expiryDate: string) => {
    let year = expiryDate.toString().split(".")[0].substring(0, 4);
    let month = expiryDate.toString().split(".")[0].substring(4, 6);
    let day = expiryDate.toString().split(".")[0].substring(6, 8);
    let hours = expiryDate.toString().split(".")[0].substring(9, 11);
    let minutes = expiryDate.toString().split(".")[0].substring(11, 13);
    let seconds = expiryDate.toString().split(".")[0].substring(13, 15);

    return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;
  };

  return (
    <div className="pending-doc app">
      <div className="app__header-resume">
        <div>
          <LeftSideBar />
        </div>
      </div>
      <div className="app__body">
        <div>
          <Header />
        </div>
        <div>
          <div className="app__list">
          {pendingApplicationsFormatted.pendingApplication &&
              pendingApplicationsFormatted.pendingApplication.length > 0 && (
            <div className="app-header">
              Here are your saved application in last 21 days. Please
                  continue to submit your applications
            </div>
            )}
            {pendingApplicationsFormatted.pendingApplication &&
              pendingApplicationsFormatted.pendingApplication.length > 0 &&
              pendingApplicationsFormatted.pendingApplication.map(
                (res: any, index: any) => {
                return (
                  <div
                      className="application-list"
                      key={res?.ApplicationRefNo}
                    >
                    <div className="application-list__info">
                      <div className="application-list__name">
                        {res?.ProductName}
                      </div>
                      <div className="application-list__details">
                        <div className="application-list__ref">
                          Ref ID: {res?.ApplicationRefNo}
                        </div>
                        <div className="application-list__expdate">
                          <span className="expire-icon"></span> Expiring in{" "}
                          {res?.ExpiryDate}
                        </div>
                        <div className="application-list__ref">
                            {res?.ApplicationStatus}
                        </div>
                      </div>
                    </div>
                    <div
                      className="application-list__btn"
                      onClick={(e) =>
                        openApplication(res.ApplicationRefNo, res.ChannelRef)
                      }
                    >
                      Resume
                    </div>
                  </div>
                );
              }
              )}
            {pendingApplicationsFormatted.pendingDocument &&
              pendingApplicationsFormatted.pendingDocument.length > 0 && (
                <div className="app-header">
                  Please continue to upload your documents
                </div>
              )}

            {pendingApplicationsFormatted.pendingDocument &&
              pendingApplicationsFormatted.pendingDocument.length > 0 &&
              pendingApplicationsFormatted.pendingDocument.map(
                (res: any, index: any) => {
                return (
                  <div
                      className="application-list"
                      key={res?.ApplicationRefNo}
                    >
                    <div className="application-list__info">
                      <div className="application-list__name">
                        {res?.ProductName}
                      </div>
                      <div className="application-list__details">
                        <div className="application-list__ref">
                          Ref ID: {res?.ApplicationRefNo}
                        </div>
                        <div className="application-list__ref">
                            {res?.ApplicationStatus}
                          </div>
                      </div>
                    </div>
                    <div
                      className="application-list__btn"
                      onClick={(e) =>
                        openUploadDocument(res.ApplicationRefNo,res.ProductName)
                      }
                    >
                      Upload
                    </div>
                  </div>
                );
              }
              )}

            {pendingApplicationsFormatted.unresumableApplications &&
              pendingApplicationsFormatted.unresumableApplications.length >
                0 && (
                <div className="app-header">
                  Please find the status of your other applications below
                </div>
              )}
            {pendingApplicationsFormatted.unresumableApplications &&
              pendingApplicationsFormatted.unresumableApplications.length > 0 &&
              pendingApplicationsFormatted.unresumableApplications.map(
                (res: any, index: any) => {
                  return (
                    <div
                      className="application-list"
                      key={res?.ApplicationRefNo}
                    >
                      <div className="application-list__info">
                        <div className="application-list__name">
                          {res?.ProductName}
                        </div>
                        <div className="application-list__details">
                          <div className="application-list__ref">
                            Ref ID: {res?.ApplicationRefNo}
                          </div>
                          <div className="application-list__ref">
                            {res?.ApplicationStatus}
                          </div>
                        </div>
                      </div>
                    </div>
                  );
                }
              )}

            {emptyApplication && (
              <div className="application-list">
                Sorry! there are no pending applications found to continue.
              </div>
            )}
          </div>
        </div>
      </div>
    </div>
  );
};

export default PendingApplication;



import React from "react";
import { render, screen, fireEvent, waitFor } from "@testing-library/react";
import { Provider } from "react-redux";
import configureStore from "redux-mock-store";
import { MemoryRouter } from "react-router-dom";
import PendingApplication from "./pending-resume-application";
import { dispatchLoader, resumeRequest, uploadRequest } from "../../../services/common-service";

jest.mock("../../../services/common-service", () => ({
  dispatchLoader: jest.fn(),
  resumeRequest: jest.fn(),
  uploadRequest: jest.fn(),
}));

jest.mock("react-redux", () => ({
  useDispatch: jest.fn(),
  useSelector: jest.fn(),
}));

jest.mock("react-router", () => ({
  useNavigate: jest.fn(),
}));

describe("PendingApplication Component", () => {
  const mockStore = configureStore();
  const mockDispatch = jest.fn();
  const mockNavigate = jest.fn();

  beforeEach(() => {
    jest.clearAllMocks();
  });

  const initialState = {
    pendingApplication: {
      pendingApplication: [
        {
          ProductName: "Test Product 1",
          ApplicationRefNo: "12345",
          ChannelRefNo: "02r-test",
          Status: "WIP",
          OnbSaveFlag: "Y",
          ExpiryDate: "20240101.000000",
        },
        {
          ProductName: "Test Product 2",
          ApplicationRefNo: "67890",
          ChannelRefNo: "03r-test",
          Status: "PendingDocuments",
          OnbSaveFlag: "N",
          ExpiryDate: "20240105.000000",
        },
      ],
    },
  };

  it("should render the PendingApplication component with applications", () => {
    const store = mockStore(initialState);
    render(
      <Provider store={store}>
        <MemoryRouter>
          <PendingApplication />
        </MemoryRouter>
      </Provider>
    );

    expect(screen.getByText(/Here are your saved application/i)).toBeInTheDocument();
    expect(screen.getByText("Test Product 1")).toBeInTheDocument();
    expect(screen.getByText("Resume")).toBeInTheDocument();
    expect(screen.getByText("Upload")).toBeInTheDocument();
  });

  it("should handle Resume button click", async () => {
    const store = mockStore(initialState);
    (resumeRequest as jest.Mock).mockResolvedValue({
      application: {
        journey_type: "test-journey",
        stage: { page_id: "test-stage" },
        referral_id_2: "test-referral",
      },
      applicants: [],
    });

    render(
      <Provider store={store}>
        <MemoryRouter>
          <PendingApplication />
        </MemoryRouter>
      </Provider>
    );

    const resumeButton = screen.getAllByText("Resume")[0];
    fireEvent.click(resumeButton);

    await waitFor(() => {
      expect(resumeRequest).toHaveBeenCalledWith("12345");
      expect(dispatchLoader).toHaveBeenCalledWith(true);
    });
  });

  it("should handle Upload button click", async () => {
    const store = mockStore(initialState);
    (uploadRequest as jest.Mock).mockResolvedValue({
      applicants: [],
    });

    render(
      <Provider store={store}>
        <MemoryRouter>
          <PendingApplication />
        </MemoryRouter>
      </Provider>
    );

    const uploadButton = screen.getAllByText("Upload")[0];
    fireEvent.click(uploadButton);

    await waitFor(() => {
      expect(uploadRequest).toHaveBeenCalledWith("67890");
      expect(dispatchLoader).toHaveBeenCalledWith(true);
    });
  });

  it("should show a message when there are no pending applications", () => {
    const emptyState = {
      pendingApplication: {
        pendingApplication: [],
      },
    };

    const store = mockStore(emptyState);
    render(
      <Provider store={store}>
        <MemoryRouter>
          <PendingApplication />
        </MemoryRouter>
      </Provider>
    );

    expect(screen.getByText(/Sorry! there are no pending applications/i)).toBeInTheDocument();
  });
});

 const stageSelector = useSelector((state: StoreModel) => state.stages);
      15 |   const applicationJourney = useSelector(
    > 16 |     (state: StoreModel) => state.stages.journeyType
         |                                         ^
      17 |   );
      18 |   const [productDetails, setProductDetails] = useState();
      19 |   const [headerTitle, setHeaderTitle] = useState("");

 TypeError: Cannot read properties of undefined (reading 'journeyType')

      14 |   const stageSelector = useSelector((state: StoreModel) => state.stages);
      15 |   const applicationJourney = useSelector(
    > 16 |     (state: StoreModel) => state.stages.journeyType
         |                                         ^
      17 |   );
      18 |   const [productDetails, setProductDetails] = useState();
      19 |   const [headerTitle, setHeaderTitle] = useState("");

      at journeyType (src/modules/dashboard/header/header.tsx:16:41)
      at memoizedSelector (node_modules/use-sync-external-store/cjs/use-sync-external-store-shim/with-selector.development.js:79:30)
      at getSnapshotWithSelector (node_modules/use-sync-external-store/cjs/use-sync-external-store-shim/with-selector.development.js:134:14)
      at mountSyncExternalStore (node_modules/react-dom/cjs/react-dom.development.js:16799:20)
