import React from "react";
import { render, screen, fireEvent } from "@testing-library/react";
import { Provider } from "react-redux";
import configureStore from "redux-mock-store";
import ThankYou from "./thank-you";

const mockStore = configureStore([]);
jest.mock("axios", () => ({
    __esModule: true,
  }));
  jest.mock("@lottiefiles/react-lottie-player", () => ({
    __esModule: true,
  }));
  jest.mock('react-router-dom',()=>({
    useNavigate:jest.fn(),
    useLocation:jest.fn(),
  }));
  

describe("ThankYou Component", () => {
  let store:any;


  beforeEach(() => {
    store = mockStore({
      stages: {
        stages:[
            "ThankYou",
            "AnotherStage"
        ],
        journeyType:"MockJourneyType",
      },
      store: {
        thankyouDetails: {
          applicationDetails: {
            isStp: false,
          },
        },
      },
    });
  });

  it("renders ThankYou component correctly with non-STP flow", () => {
    render(
      <Provider store={store}>
        <ThankYou  />
      </Provider>
    );

    // Check if application reference number is displayed
    expect(screen.getByTestId(/form/)).toBeInTheDocument();

   
  });

  it("renders ThankYou component with STP flow", () => {
  const  store = mockStore({
        stages: {
          stages:[
              "ThankYou",
              "AnotherStage"
          ],
          journeyType:"MockJourneyType",
        },
        store: {
          thankyouDetails: {
            applicationDetails: {
              isStp: false,
            },
          },
        },
      });

    render(
      <Provider store={store}>
        <ThankYou  />
      </Provider>
    );
    expect(screen.getByTestId(/app__body/)).toBeInTheDocument();

    // Verify STP flow renders specific elements
   
  });

  it("handles button click to proceed", () => {
    render(
      <Provider store={store}>
        <ThankYou />
      </Provider>
    );
    expect(screen.getByTestId(/app thankyou/)).toBeInTheDocument();
   
  });
});
