*{
    box-sizing: border-box;
    transition: ease all 0.5s;
} 
.navheader{
    border-top: 45px solid #333a44;
    display: flex;
    background-color: #fefeff;
    box-shadow: 0px 0px 10px 0px;
    padding: 9px 30px;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;

}
.headerlogo{
    width:18%;
    
    
    float: left;
}
.headerspan img {
width: 70px;
}
.booknow{
    position: relative;
   top: 8px;
    font-size: 12px;
    text-align: center;
    background-color: #fcfcfd;
    color: #191919;
    border-left: 10px solid #599ee9;
    border-radius: 30px;
    border-right: 10px solid #599ee9;
    border-top: 4px solid #599ee9;
    border-bottom: 4px solid #599ee9;
    padding: 5px 10px;
    cursor: pointer;
    }
    .firstcontent{
        width: 100%;
        background-image: url("https://html.design/demo/gamepad/images/banner-bg.png");
        height: auto;
        padding-bottom: 90px;
        background-size: cover;

    }
    .subcon1{
        width: 100%;
        padding: 0px 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .subcon2{
        position: relative;
    }
    .subcon3{
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    
    .subcon5{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    .subcon6{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .subh2{
        font-size: 43px;
        
    }
    .SH2{
        width: 100%;
        float: left;
        color: #fcfcfd;
        font-weight: 600;
        text-transform: uppercase;

    }
    .SH3{
        width: 100%;
        float: left;
        color: #599ee9;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 50px;
    }
    .para{
        margin: 20px;
        padding-top: 0px;
        width: 100%;
        float: left;
        font-size: 16px;
        color: #fefeff;
        font-weight: 500;
        }
        .subimg{
            width: 100%;
            float: left;
            padding-top: 40px;
        }
        .subimg img{
            max-width: 90%;
            height: auto;
        }